@model Lojinha.Core.Models.Carrinho
@{
    ViewData["Title"] = "Home Page";
}

<span>
    <span class="col-md-7">Total Itens: @Model.Items.Sum(x=>x.Quantidate)</span>
    <span class="col-md-7">R$: @Model.Items.Sum(x=>x.Produto.Preco * x.Quantidate)</span>
</span>
